.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    border-top: 1px solid #e5e5e5;
}

.footer__item-text {
    @include font-fam('Montserrat');
    margin: 0;
    font-size: $main-font-size;
    line-height: 16px;
    font-weight: normal;
    color: $black-color;
}

.by-name {
    @include font-fam('Montserrat');
    font-size: $main-font-size;
    line-height: 16px;
    text-decoration: none;
    color: $footer-link-color;
}

.footer__item-form {
    width: 380px;
    min-height: 40px;
    font-size: 0;
}

.email-type {
    @include font-fam('')
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300 italic;
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
}

.page-footer__btn {
    font-weight: bold;
    line-height: 40px;
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
}