html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {font-family: 'Playfair Display', 'Arial', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px
}
.container {
   width: 900px;
   margin: 0 auto;
}
/* site navigation */
header {
    padding-top: 72px;
    padding-bottom: 100px;
}
.site-navigation {
margin: 0px auto;
font-size: 14px;
list-style: none;
text-align: center;
}
.site-navigation li {
    display: inline-block;
    margin-right: 60px;
    font-size: 14px;
}
.site-navigation-item:not(:last-child) {
    margin-right: 60px;
}
.site-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    display: block;
}
/* main */
.main-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
    margin-bottom: 55px;
}
.main-list li {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 130px;
    width: 420px;
    font-size: 14px;
}
.main-list li:nth-of-type(2n-1) {
    margin-right: 60px;
}
.main-list .music-list-item{
    margin-bottom: 0px;
}
/* .lifestyle-list-item, .photodiary-list-item {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 130px;
    width: 420px;
    font-size: 14px;
}
.music-list-item {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 55px;
    width: 420px;
    font-size: 14px;
}
.lifestyle-list-item:not(:last-child) {
    margin-right: 60px;
}
.photodiary-list-item:not(:last-child) {
    margin-right: 60px;
}
.music-list-item:not(:last-child) {
    margin-right: 60px;
} */
img {
    margin-bottom: 32px;
}
h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 0px 0px 36px 0px;
}
.img-tag {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
}
p {
    margin: 0px;
}

/* download button */

.download-button {
    padding: 18px 37px 16px 30px ;
    /* min-width: 166px;
    min-height: 60px; */
    border: 1px solid black;
    margin: 0 auto;
    display: block;
}
.download-button a {
    font-family: 'Playfair Display', 'Arial', serif;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    text-decoration: none;
}