/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

.wrapper {
    width: 1110px;
    margin: auto;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

.main_header {
    padding-top: 36px;
    padding-bottom: 32px;
}

.main_nav .logo {
    
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 32px;
    color: #656262;
    font-weight: light;
    text-decoration: none;
    text-transform: uppercase;
}

.logo::first-letter {
    color: #38c1a4;
    font-weight: bold;
}

 .nav_list {
    float: right;
    list-style: none;
    padding: 0;
    margin: 7px 0 0 0;
}

.nav_list li {
    float: left;
    margin-right: 26px;
}

.nav_list li:last-child {
    margin-right: 0;
}

.nav_list a {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0101;
    text-decoration: none;
}

.nav_list a:hover, .nav_list a:focus{
    color: #4ec6ab ;
}

.slider {
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 108px;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.overlay {
    background-color: rgba(0, 0, 2);
    opacity: 0.5;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: 9;
}  

.slider-ctrl {
    border: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)  
}

  
.slider-ctrl:hover {
    opacity: 0.6;
    cursor: pointer;
}

.slider-ctrl-prev {
    left: 165px;
    background-image: url(../img/new-collection/logo/prev-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 80;
}

.slider-ctrl-next {
    right: 165px;
    background-image: url(../img/new-collection/logo/next-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 84;
}

.slider .slides {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0px;
}

.slides img {
    
    object-fit: cover;
   width: 100vw;
    height: 600px;  
}

.slide_item {
    position: relative;      
}

.slides_descr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 79;
}

.slides_descr h2, p {
    margin: 0;
    padding: 0;  
}

.slides_name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 82px;
    text-transform: uppercase;
    font-weight: 900;
}

.slides_descr p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 54px;
    font-weight: light;
    color: #f6f6f6;
    text-transform: uppercase;  
}

.main_content {
    margin-bottom: 100px;
}

.collection h2 {
    text-align: center;
    font-size: 48px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    color: #515151;
}

.collection h2:after {
    background-color: #1abc9c;
    display: block;
    content: "";
    width: 164px;
    height: 8px;
    margin: 40px auto 80px auto;
}

.collection_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collection_item {
    float: left;
    width: 255px;
    height: 323px;
    margin-right: 30px;
    line-height: 0;
    position: relative;
}

.collection_item:last-child {
    margin-right: 0;
}

.collection_item:hover .item_name, .collection_item:focus .item_name{
    background-color: #1abc9c;
}

.collection_item:hover .price {
    background-color: #7fd9c7;
}

.card:hover .over_item {
    display: block;
}

/* overlay */

.collection_item .card {
    display: block;   
    height: 100%;
    position: absolute;
    width: 100%;  
}

.over_item {
    display: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 255px;
    height: 283px;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.5);
     
    position: absolute;
    line-height: 0px;     
}

.over_item .content_icons {
    position: absolute;
    margin: 0;
    padding: 0 ;
    line-height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 108px;
    width: 166px;
}

.content_icons .icon {
    background-color: rgba(0, 0, 0);
    padding: 0;
    width: 50px;
    line-height: 0px;
    height: 50px;
    float: left;
    margin: 0 8px 8px 0;
    background-repeat: no-repeat;
    background-position: center;
}

.like:hover, .share:hover, .time:hover, .add:hover {
    background-color: rgba(26, 188, 156, 1);   
}

.content_icons .icon:nth-child(3) {
    margin-right: 0px;
}

.content_icons .icon:last-child {   
    margin: 0px;
    width: 166px;
    height: 50px;   
    
}

.like {
    background-image: url(../img/new-collection/logo/like-icon.png);
}

.share {
    background-image: url(../img/new-collection/logo/share-icon.png);
}

.time {
    background-image: url(../img/new-collection/logo/time-icon.png);
}

.content_icons .add {
    background-image: url(../img/new-collection/logo/add-icon.png);
    color: white;
    background-position: left;
}

.add_text {
    
    height: 50px;
    width: 116px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    
}

/* .add_to {
    display: inline-block;
    font-size: 14px;
    line-height: 48px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    width: 116px;
    float: right;
} */

/* overlay */

.collection_item img {
    height: 283px;
    object-fit: cover;
    width: 100%;
}

.name_price {
    width: 255px;
    margin: 0 auto;
}

.name_price .item_name {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    background-color: #323232;
    padding: 0 0 0 14px;
    margin: 0;
    float: left;
    width: 187px;
}

.name_price .price {
    margin: 0;
    width: 54px;
    text-align: center;   
    background-color: #8c8c8c;
    text-decoration: none;
    float: right;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.main_footer {
    height: 90px;
    width: auto;
    background-color: #323232;
    text-align: center;
    line-height: 90px;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.company_name {
    font-style: 16px;
    color: #45b8a3;
    text-decoration: none;
}