$kaushan: 'Kaushan Script', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

$white-color: #fff;
$nav-hover-color: #fce38a;

$footer-link-color: #ff0000;

$black-color: #333333;
$secondary-main-text-color: #b3b3b3;
$icon-hover-color: #f38181;
$card-background-color: linear-gradient(90deg, rgba(252, 227, 138, .5) 0%, rgba(243, 129, 129, .5) 100%);

$main-font-size: 14px;
$second-font-size: 30px;

$icons: alarm, book, computer, home, image, line;